@import "tailwindcss";

.link:hover {
  cursor: pointer;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.ticker-text {
  animation: ticker 20s linear infinite;
}

.ticker-content {
  display: flex;
  min-width: 100%; /* Ensure the content spans the full width */
}

.book-appointment {
  animation: blinking-Appointment 0.5s infinite ease-in-out;
}

@keyframes blinking-Appointment {
  0% {
    background-color: orangered;
    transform: scale(1);
  }
  100% {
    background-color: orangered;
    transform: scale(1.1);
  }
}
